#home {
    background-image: url(../resources/banner.png);
    width: 100vw;
    height: calc(100vh - 56px);
    margin-top: 56px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
}