  img.imagenSecundaria {
      width: 50px;
      height: 50px;
  }
  
  img.imagenPrincipal {
      width: 350px;
      height: 350px;
  }
  
  img.imagenAbajo {
      width: 120px;
      height: 120px;
  }