#unirse h3 {
    text-align: center;
}

#unirse .btn-primary {
    color: white;
    /*width: 350px;
    height: 80px;*/
    /*background-color: #0f8fbd;*/
    margin-left: 550px;
    margin-top: 50px;
}


/*#unirse {
    background-color: grey;
}*/